<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.travela.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <display-name>Travela</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.travela.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>AppFilter</filter-name>
    <url-pattern></url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern></url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.travela.servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
</web-app>